
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto+Slab:wght@500&family=Special+Elite&display=swap');

.home-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    height:10%;
    min-height: fit-content;
    background-color:aliceblue;
    padding: 50px;
    

}
.profile-picture{
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 1px 0 0;
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
}

.profile-picture-bg{
    height: 95%;
    width: 95%;
    border-radius: 50%;
    background-image: url("../../assets/pictures/bild_lebenslauf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin:0 auto;
}
.profile-picture-bg:hover{
    transform:scale(1.07);
    transition:1s ease-out;
}

.greeting-text{
    font-family: 'Roboto Slab', serif;
    font-size: 30px;
    margin:0 auto;

}
.name-text{
    font-size:35px;
    
}


.profile-details-role h1{
    font-size: 40px;
    font-family: 'Special Elite', cursive;
}
.profile-options{
    margin:0 auto;
}

